body{
  background-color: white
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.item {
    margin: 2rem;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
    max-width: 100%;
    font-size: 0;
    max-height: 100%;
}

.item:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

img{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-image: url(../assets/img/placeholder.png);
    background-repeat:no-repeat;
    -moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
